body {
    height: 100vh;
    min-width: 750px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-wrapper {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 10vh;
    font-family: Courier New;
    font-weight: 900;
}

#display-wrapper {
    height: 25vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Courier New;
    font-size: 10vh;
}

#status-wrapper {
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Courier New;
    font-size: 5vh;
}

#red {
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#green {
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

#numpad-wrapper {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 2000px));
    grid-template-rows: repeat(4, minmax(10px, 2000px));
    grid-gap: 20px;
    padding: 20px;
}

button {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-inline: 0;
    padding-block: 0;
    border-width: 5px;
    font-size: 4vh;
}

.first-row {
    grid-row: 1;
}

.second-row {
    grid-row: 2;
}

.third-row {
    grid-row: 3;
}

.fourth-row {
    grid-row: 4;
}

.operator {
    grid-column: 4;
}